.header {
  background-color: #000000;
  color: #f9a602;
  background-image: url(../src/image/BlackPantherLogo.jpg);
  background-repeat: no-repeat;
  /* min-height: 200px; */
  padding: 180px 20px;
  padding-bottom: 140px;
  text-align: center;
  width: 100%;
  height: 250px;
  margin-left: 75px;
}
.header h1 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 4rem;
}

.wrapper {
  background-color: #000000;
}
