.header {
  background-color: #dcdcdc;
  color: #008b8b;
  /* background-image: url(/4de356f…/00972/assets/images/geometry.svg); */
  /* background-repeat: 	#008B8B; */
  min-height: 200px;
  padding: 180px 20px;
  padding-bottom: 140px;
  text-align: center;
}
.header h1 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 4rem;
}
